/* Resets */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --dark-blue-color: #1F2937;
    --white-color: #F9FAF8;
    --gray-color: #E5E7EB;
    --blue-color: #3882F6;
}